body{
    background-color: #171515;
}

h1{
    color: rgb(89, 0, 255);
    text-align: center;
    font-size: 30px;
}

button{
    border-style: double;
    font-size: 18px;
    border-radius: 20px;
    cursor:pointer;
    padding: 4px 6px 4px 6px;
}

button:hover{
    background-color: yellow;
}

#newarr{
    margin-right: 300px;
}

#bubble,#selection,#insertion,#merge,#quick,#sizer,#speed{
    margin-right: 20px;
}

#bar{
    color: red;
    display: flex;
    justify-content: center;
    height: 400px;
    flex-direction: row;
    padding: 20px 30px 0px 10px;
}
  
.baritem {
    background: yellow;
    border: 1.25px solid blue;
    width: 0.75%;
  }

a{
    text-decoration: none;
    color: aqua;
}

a:hover{
    color: #00FF00;
}